.App {
  text-align: center;
  background-color: #F0EAD6;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */

/* .App-link {
  color: #61dafb;
} */

body {
  height: 100%;
  background-color: #F0EAD6;
}

nav {
  display: flex;
  align-items: center;
}

.navBar {
  border-bottom: solid black 1px;
  display: flex;
  position: relative;
  justify-content: space-between;
  float: right;
  padding: 0.5rem;
}

.userNavBarlinks {
  float: right;
}

.signIn {
  align-items: right;
}

/* book {
  float: inline-end;
  display: flex;
  position: relative;
} */

.newBook {
  margin-top: 10%;
  justify-content: center;
  display: grid;
}

.userAccount {
  margin-top: 10%;
  justify-content: center;
  display: flex;
}

.card {
  font-size: 2vw;
  text-align: center;
  flex-direction: column;
  display: inline-block;
}